# ======================================================
# SQL SERVER / DATABASE
# ======================================================

ACCEPT_EULA=Y
MSSQL_PID=Developer

DB_HOST=db
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_NAME=posts_db


# ======================================================
# BACKEND
# ======================================================
APP_NAME=Posts Management API
APP_VERSION=1.0.0
APP_ENV=development


# ======================================================
# S3 / MINIO (Cloud Storage)
# ======================================================
S3_ENDPOINT_URL=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=posts
S3_REGION=us-east-1


# ======================================================
# FRONTEND
# ======================================================

VITE_API_URL=/api
